@import "./sass/fonts.scss";
@import "./sass/colors.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", sans-serif;
  background-color: $color-primary;
  color: $color-white;
}